{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div>
    <section class="post">
        <header>
            <h2 class="post-title">{{ article.title }}</h2>
            <p class="post-meta">
                <a class="post-category post-category-js" href="#">{{ article.cat }}</a>
                Time:  {{ article.time }}
                阅读次数：{{ article.visited }}
            </p>
        </header>

        <div class="post-description">
            <p>
                {{ article.content | custom_markdown }}
            </p>
        </div>
    </section>

    <h2>评论：</h2>
    {% for comment in comments %}
        <header>
            <p class="post-meta">
                {{ comment.name }} at time {{ comment.time }}
                <p>
                    {{ comment.content }}
                </p>
            </p>
        </header>
    {% endfor %}

    <form class="pure-form" action="{% url 'get_detail' article.id %}" method="post">
    <fieldset>
        {% csrf_token %}
        <legend><h2>发表新的评论:</h2></legend>

        {% for field in form %}
            <div>
                {{ field.label }}: {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="pure-button pure-button-primary">提交</button>
    </fieldset>
</form>
</div>
{% endblock %}