{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div>
    {% for article in articles %}
        <section class="post">
            <header>
                <h2 class="post-title"><a href='{% url 'get_detail' article.id %}'>{{ article.title }}</a></h2>
                <p class="post-meta">
                <a class="post-category post-category-js" href="#">{{ article.cat }}</a>
                Time: {{ article.time }}
                阅读次数：{{ article.visited }}
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{ article.content | truncatechars:100 | custom_markdown }}
                </p>
                <a class="pure-button" href="{% url 'get_detail' article.id %}">Read More >>> </a>
            </div>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}